{% extends 'formApp/base.html' %}

{% block content %}
<div class="card">
    <div class="card-body d-flex flex-row justify-content-center">
        <div class="m-2">
            <a href="{% url 'cadastrar' %}">
                <button class="btn btn-primary">Adicionar</button>
            </a>
        </div>

        <div class="m-2">
            <a href="{% url 'listar' %}">
                <button class="btn btn-outline-primary">Listar</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}